/Exe01.class
/Exe01_1.class
/ForTest01.class
/ForTest02.class
/ForTest03.class
/ForTest04.class
/ForTest05.class
/ForTest06.class
/ForTest07.class
/ForTest08.class
/ForTest09.class
/ForTest10.class
/ForTest11.class
/IfTest01.class
/IfTest02.class
/IfTest03.class
/IfTest07.class
/IfTest08.class
/IfTest09.class
/StringTest01.class
/SwitchTest01.class
/SwitchTest02.class
/SwitchTest03.class
/Test01.class
/Test02.class
/Test03.class
/Test07.class
/Test08.class
/WhileTest01.class
/WhileTest02.class
/test04.class
/test05.class
/test06.class
/affff.class
/DowhileTest.class
